- if (posts.length) {
- for (var idx in posts) {
  div.post
    .title
      h2
        a(href=posts[idx].url)=posts[idx].title      
      span.tagline Tags: #{posts[idx].tags.join(', ')}
    span.comments
      a(href=posts[idx].url)#{posts[idx].comments.length} Kommentare
    p.date
      =posts[idx].readableday
      span
        =posts[idx].readablemonth
    div.post-content
      =posts[idx].preview
- }
- } else {
  div.noposts
    |Keine Posts gefunden!
- }