!!! 5
html
  head
  	title 
  	link(rel='stylesheet', href='/css/layout.css')
    link(rel='stylesheet', href='/css/aristo/jquery-ui-1.8.7.custom.css')
    script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/jquery/1.5.0/jquery.min.js');
    script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.7/jquery-ui.min.js')
    script(type='text/javascript', src='/javascripts/lastfm.api.md5.js')
    script(type='text/javascript', src='/javascripts/lastfm.api.js')
    script(type='text/javascript', src='/javascripts/lastfm.api.cache.js')    
  body
    div#container
  	  div#header
  	    h1
          a(href='/') schaermu.ch
        h2 Schaermu's personal blog
  	    ul#nav
  	      li.entry
  	        a(href='/') Blog
  	      li.spacer &nbsp;
  	      li.entry
  	        a(href='/contact') Kontakt
  	      li.spacer &nbsp;
          li.entry
            - if (isLoggedIn) {
            a(href='/logout') Logout
            - } else {
            a(href='/login') Login
            - }
  	    ul#subscribe
          li.twitter
  	        a(href='http://twitter.com/schaermu')|Follow on Twitter
          li.rss
            a(href='/rss')|Subscribe by RSS
  	  div#content
  	    div#main
  	      !{flashMessages}
  	      != body
  	  div#side
  	    div#links
  	      h3 Links
  	      dl
  	        dt.crazymind
  	          a(href='http://www.crazymind.ch/',target='_blank')|» crazymind.ch
  	        dd
  	          |Crazymind.ch bietet moderne, kreative und persönliche Weblösungen von der Konzeption bis zum finalen Auftritt.
  	        dt.dailyjs
              a(href='http://www.dailyjs.com/',target='_blank')|» dailyjs.com
            dd
              |Einer der besten Blogs zur Thematik Javascript und node.js, ideal um auf dem laufenden zu bleiben.
            dt.nodenerd
              a(href='http://www.nodenerd.net/',target='_blank')|» nodenerd.net
            dd
              |Ein Blog, welcher sich dediziert Node.JS Techniken widmet, sehr empfehlenswert.
            dt.github
              a(href='http://github.com/',target='_blank')|» github.com
            dd
              |Vermutlich der beste OpenSource-Git Hoster. Diese Blogging-Engine ist ebenfalls auf GitHub gehostet.
            dt.nodejs
              a(href='http://nodejs.org/',target='_blank')|» nodejs.org
            dd
              |Eventbasierte, server-seitige Javascript Implementierung für Google's V8 Engine (dieser Blog wurde auf Basis von node.js aufgebaut)
  	  div#footer-container
  	    div#footer
  	      div#latest-posts
  	        h4 Neuste Posts
  	        ul
  	      div#music
  	        h4 Zuletzt gehört
  	        div#lastfmdata
  	      p#back-top
  	        a(href='#')|Nach oben
  	script(type='text/javascript', src='/javascripts/application.js')