!!!
html
  head
  	title #{nameAndVersion(appName, version)}
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div#container
  	  div#header
  	    ul
  	      li
  	        h1
  	          a(href='/')#{nameAndVersion(appName, version)}
  	  !{flashMessages}
  	  != body