div.post
  .title
    h2
      a(href=post.url)=post.title      
    span.tagline Tags: #{post.tags.join(', ')}
  span.comments
    a(href=post.url)#{post.comments.length} Kommentare
  p.date
    =post.readableday
    span
      =post.readablemonth
  div.post-content
    =post.body
  - if (isLoggedIn) {
  div.admin
    ul
      li
        a(href='/post/edit/' + post.id) Bearbeiten
      li
        a.delete-post(href='#') L&ouml;schen
  - }