fieldset
  float left
  clear left
  width 100%
  margin 15px 0 0 0;
  padding 0
  border 1px solid colors-darkbackground
  background colors-lightbackground
  ol
    list-style none
    padding 10px 10px 0 10px
    li
      float left
      clear left
      width 100%
      padding-bottom 10px
    li.submit
      float none
      width auto
      padding-left 120px
label
  float left
  width 100px
  margin-right 1em
  text-align right
  font bold 16px Delicious-Bold, Georgia, Serif
legend
  margin-left 1em
  color colors-fonttitle
  font bold 20px Delicious-Bold, Georgia, Serif